<div class="col-xs-12">
	<div class="col-xs-12">
		<h3>Generate Monthlty Bill</h3>
		<form ng-submit= generatemonthlybill(gt)>
			<input type="number" name="" placeholder="Enter telephone" ng-model="gt.tel" required>
			<input type="number" name="" placeholder="Enter year" ng-model="gt.year" required>
			<input type="number" name="" placeholder="Enter month" ng-model="gt.month" required>
			<input type="submit" class="btn btn-warning btn-raised" style="margin-left: 10px;" value="Generate">

			<div ng-show="showBill">
				<button class="btn btn-success btn-raised" ng-click="printDiv()" style="margin-left: 10px;">Print</button>
				<div id="printDiv">
					<h3>Monthly Bill: $ {{totalCustomerBill | uptoTwo}}</h3>
					<p>Customer Name: {{customer.custName}}</p>
					<table class="table">
						<thead>
							<tr>
								<th>Street</th>
								<th>City</th>
								<th>State</th>
								<th>Zip-code</th>
								<th>Country</th>
							</tr>
						</thead>

						<tbody>
							
							<tr class="table-tr">
								<td>{{customer.street}}</td>
								<td>{{customer.city}}</td>
								<td>{{customer.state}}</td>
								<td>{{customer.zipcode}}</td>
								<td>{{customer.country}}</td>
							</tr>
						</tbody>

					</table>

					<table class="table">
						<thead>
							<tr>
								<th>To Telephone</th>
								<th>Destination Country</th>
								<th>Duration</th>
								<th>Cost</th>
							</tr>
						</thead>

						<tbody>
							
							<tr class="table-tr" ng-repeat= "custRep in customerBills track by $index">
								<td>{{custRep.toTelephone}}</td>
								<td>{{custRep.destinationCountry}}</td>
								<td>{{custRep.duration}}</td>
								<td>{{custRep.totalAmt | uptoTwo}}</td>
							</tr>
						</tbody>

					</table>
				</div>
					
			</div>
		</form>
	</div>
</div>